In [9]:
#### Importing the libraries ####
import pandas as pd
import numpy as np
import random

In [70]:
#### reading the dataset ####

diabetes = pd.read_csv("data/dirty_diabetes.csv")

#### head() shows the first 5 rows
diabetes.head()

,Unnamed: 0,Unnamed: 0.1,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,...,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class,names,id,Times Pregnant
0,0,0,40,Male,No,Yes,No,Yes,No,No,...,No,Yes,No,Yes,Yes,Yes,Positive,Liam,18989,0.0
1,1,1,58,Male,No,No,No,Yes,No,No,...,No,No,Yes,No,Yes,No,Positive,Noah,15244,NaN
2,2,2,41,Male,Yes,No,No,Yes,Yes,No,...,No,Yes,No,Yes,Yes,No,Positive,Oliver,12575,0.0
3,3,3,45,Male,No,No,Yes,Yes,Yes,Yes,...,No,Yes,No,No,No,No,Positive,William,14613,0.0
4,4,4,60,Male,Yes,Yes,Yes,Yes,Yes,No,...,Yes,Yes,Yes,Yes,Yes,Yes,Positive,Elijah,12680,99.0

## Explore the Dataset

In [71]:
#### check the number of observations in the dataset 
len(diabetes)

540

In [72]:
### check the columns
diabetes.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Age', 'Gender', 'Polyuria', 'Polydipsia',
       'sudden weight loss', 'weakness', 'Polyphagia', 'Genital thrush',
       'visual blurring', 'Itching', 'Irritability', 'delayed healing',
       'partial paresis', 'muscle stiffness', 'Alopecia', 'Obesity', 'class',
       'names', 'id', 'Times Pregnant'],
      dtype='object')

In [73]:
#### use decribe() for getting some sense of the data
diabetes.describe()
### outputs only the numeric columns

       Unnamed: 0  Unnamed: 0.1         Age            id  Times Pregnant
count  540.000000    540.000000  540.000000    540.000000      451.000000
mean   269.500000    259.942593   48.014815  14938.533333        0.933481
std    156.028843    150.194575   12.088563   2882.822388        4.797686
min      0.000000      0.000000   16.000000  10027.000000        0.000000
25%    134.750000    131.750000   39.000000  12315.500000        0.000000
50%    269.500000    258.500000   47.000000  15083.500000        0.000000
75%    404.250000    391.250000   57.000000  17465.000000        1.000000
max    539.000000    519.000000   90.000000  19964.000000       99.000000

In [74]:
#### Look for irrelavan columns or values

### what is Unnamed: 0
diabetes['Unnamed: 0']

0        0
1        1
2        2
3        3
4        4
      ...
535    535
536    536
537    537
538    538
539    539
Name: Unnamed: 0, Length: 540, dtype: int64

In [75]:
### what is Unnamed: 0.1
diabetes['Unnamed: 0.1']

0        0
1        1
2        2
3        3
4        4
      ...
535    167
536    400
537    163
538    427
539    212
Name: Unnamed: 0.1, Length: 540, dtype: int64

In [79]:
### drop the irrelevan columns
diabetes = diabetes.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
diabetes

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class,names,id,Times Pregnant
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive,Liam,18989,0.0
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive,Noah,15244,NaN
2,41,Male,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Positive,Oliver,12575,0.0
3,45,Male,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,Positive,William,14613,0.0
4,60,Male,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Positive,Elijah,12680,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,41,Male,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,Yes,Positive,River,13152,0.0
536,44,Male,Yes,No,Yes,Yes,No,Yes,No,Yes,No,Yes,No,No,Yes,Yes,Negative,Sullivan,19322,0.0
537,45,Female,No,No,No,No,Yes,No,Yes,Yes,No,No,Yes,No,No,No,Positive,Karter,17978,0.0
538,39,Male,Yes,No,Yes,No,No,Yes,No,Yes,Yes,No,No,No,Yes,No,Positive,Shawn,14411,0.0
539,43,Male,No,No,No,No,No,No,No,No,Yes,No,No,No,No,No,Negative,Peter,12558,0.0

In [80]:
#### Who had been pregnant for 99 times?
diabetes[diabetes['Times Pregnant'] == 99]

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class,names,id,Times Pregnant
4,60,Male,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Positive,Elijah,12680,99.0

In [82]:
#### drop that row
diabetes = diabetes.drop([4], axis = 0)
diabetes

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class,names,id,Times Pregnant
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive,Liam,18989,0.0
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive,Noah,15244,NaN
2,41,Male,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Positive,Oliver,12575,0.0
3,45,Male,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,Positive,William,14613,0.0
5,55,Male,Yes,Yes,No,Yes,Yes,No,Yes,Yes,No,Yes,No,Yes,Yes,Yes,Positive,James,10125,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,41,Male,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,Yes,Positive,River,13152,0.0
536,44,Male,Yes,No,Yes,Yes,No,Yes,No,Yes,No,Yes,No,No,Yes,Yes,Negative,Sullivan,19322,0.0
537,45,Female,No,No,No,No,Yes,No,Yes,Yes,No,No,Yes,No,No,No,Positive,Karter,17978,0.0
538,39,Male,Yes,No,Yes,No,No,Yes,No,Yes,Yes,No,No,No,Yes,No,Positive,Shawn,14411,0.0
539,43,Male,No,No,No,No,No,No,No,No,Yes,No,No,No,No,No,Negative,Peter,12558,0.0

In [77]:
#### Why is the count in Times Pregnant 451 while the others have 540?

In [78]:
#### check for NaN values using isnull()
diabetes.isnull().sum()

Unnamed: 0             0
Unnamed: 0.1           0
Age                    0
Gender                 0
Polyuria               0
Polydipsia             0
sudden weight loss     0
weakness               0
Polyphagia             0
Genital thrush         0
visual blurring        0
Itching                0
Irritability           0
delayed healing        0
partial paresis        0
muscle stiffness       0
Alopecia               0
Obesity                0
class                  0
names                 33
id                     0
Times Pregnant        89
dtype: int64

In [83]:
### do we drop the missing names? Will you analysis suffer from this missingness?

In [ ]:
### let's explore the missingness in Times Pregnant column

In [101]:
### Should we drop all the NAs in Times Pregnant column?

In [103]:
### Can we predict the number of Times Pregnant from the other columns? 
### HINT: use the Gender column to predict some of the Times Pregnan values

In [104]:
diabetes[['Gender', 'Times Pregnant']]

     Gender  Times Pregnant
0      Male             0.0
1      Male             NaN
2      Male             0.0
3      Male             0.0
5      Male             0.0
..      ...             ...
535    Male             0.0
536    Male             0.0
537  Female             0.0
538    Male             0.0
539    Male             0.0

[539 rows x 2 columns]

In [105]:
### impute 0s instead of NaNs for Male in the dataset
diabetes.loc[diabetes['Gender'] == 'Male', 'Times Pregnant'] = 0

In [107]:
### check!
diabetes['Times Pregnant'].isnull().sum()

41

In [109]:
### drop all the NaNs for Female
diabetes = diabetes.dropna(subset = ['Times Pregnant'])

In [110]:
### YAY!!!
diabetes['Times Pregnant'].isnull().sum()

0

In [114]:
### check for DUPLICATES!
### HINT: check using the unique idetifier
diabetes.duplicated(subset = 'id')

0      False
1      False
2      False
3      False
5      False
       ...
535     True
536     True
537     True
538     True
539     True
Length: 498, dtype: bool

In [115]:
### count the number of duplicates
diabetes.duplicated(subset = 'id').sum()

17

In [117]:
### drop the duplicates
diabetes = diabetes.drop_duplicates(subset = 'id')

In [118]:
### CHECK
diabetes['Times Pregnant'].isnull().sum()
### YAY!

0

In [121]:
### LASTLY, convert the types!

yes_no_dict = {'Yes': 1,
              'No': 0}
diabetes = diabetes.replace(yes_no_dict)
diabetes.head()

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class,names,id,Times Pregnant
0,40,Male,0,1,0,1,0,0,0,1,0,1,0,1,1,1,Positive,Liam,18989,0.0
1,58,Male,0,0,0,1,0,0,1,0,0,0,1,0,1,0,Positive,Noah,15244,0.0
2,41,Male,1,0,0,1,1,0,0,1,0,1,0,1,1,0,Positive,Oliver,12575,0.0
3,45,Male,0,0,1,1,1,1,0,1,0,1,0,0,0,0,Positive,William,14613,0.0
5,55,Male,1,1,0,1,1,0,1,1,0,1,0,1,1,1,Positive,James,10125,0.0

In [123]:
### you can also use pd.get_dummies
pd.get_dummies(diabetes['Gender'], drop_first = True)

     Male
0       1
1       1
2       1
3       1
5       1
..    ...
514     0
516     0
517     0
518     0
519     1

[481 rows x 1 columns]

In [124]:
### add it as a column
diabetes['Gender'] = pd.get_dummies(diabetes['Gender'], drop_first = True)
diabetes

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class,names,id,Times Pregnant
0,40,1,0,1,0,1,0,0,0,1,0,1,0,1,1,1,Positive,Liam,18989,0.0
1,58,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,Positive,Noah,15244,0.0
2,41,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,Positive,Oliver,12575,0.0
3,45,1,0,0,1,1,1,1,0,1,0,1,0,0,0,0,Positive,William,14613,0.0
5,55,1,1,1,0,1,1,0,1,1,0,1,0,1,1,1,Positive,James,10125,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,54,0,1,1,1,1,1,0,0,0,0,0,1,0,0,0,Positive,Jayson,14755,0.0
516,48,0,1,1,1,1,1,0,0,1,1,1,1,0,0,0,Positive,Briggs,11239,4.0
517,58,0,1,1,1,1,1,0,1,0,0,0,1,1,0,1,Positive,Armando,19096,3.0
518,32,0,0,0,0,1,0,0,1,1,0,1,0,0,1,0,Negative,Nikolai,14091,3.0
519,42,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Negative,Cassius,13029,0.0